*{
	margin: 0;
	box-sizing: border-box; 
}
body{
	font-family: helvetica;
}
header{
	height: 115px;
	background: url(img/header_logo.png) repeat-x;
	border-bottom: 1px solid;
	border-color: #d6d6d6;
  position: relative;
}
li{
	list-style: none;
}
a{
  text-decoration: none;
}
div{
	box-sizing: border-box;
}
.warpper{
	width: 1280px;
	margin: 0 auto;
	padding: 0 9.45%;
  overflow: hidden;
}
.warpper__header{
  width: 100%;
  padding: 0 12%;  
}
.logo{
	float: left;
}
.logo img{
	margin-top: 35px;
	margin-left: 30px;
}
.box__nav{
	height: 113px;
	width: 108px;
	display: inline-block;
	float: right;
	text-shadow: 1px 1px white;
}
.box__nav p{
	color: #5e5e5e;
}
.home,
.gallery,
.members{
	border-right: 1px solid;
	border-color: #d6d6d6;
}
.logout{
	margin-right: 25px;
}
.logout img{
    margin-top: 38px;
    margin-left: 40px;
}
.members img{
	margin-top: 39px;
    margin-left: 36px;
}
.gallery img{
	margin-top: 41px;
    margin-left: 38px;
}
.home img{
	margin-top: 38px;
    margin-left: 51px;
}
.nav__link__home{
	margin-top: 9px;
    margin-left: 43px;
}
.nav__link__gallery{
	margin-top: 8px;
    margin-left: 26px;
}
.nav__link__members{
	margin-left: 17px;
    margin-top: 9px;
}
.nav__link__logout{
	margin-top: 7px;
    margin-left: 25px;
}
.box__nav:hover{
	background: url(img/menu-hover.png) repeat-x;
}
.upload__box h1{
	font-size: 30px;
	letter-spacing: -1px;
}
.upload__box{
    margin-top: 33px;
    margin-left: 181px;
}
.field__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
 
.field__file-fake {
  height: 48px;
  width: 448px;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  	-webkit-box-align: center;
  		-ms-flex-align: center;
 			align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  box-shadow: inset 0px 6.1px 16px -19px black;
}
 
.field__file-button {
  	width: 92px;
    height: 31px;
    position: absolute;
    top: 18px;
    left: 346px;
    background: #c1bfbf;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 1px 1px #767373;
}
.field__file-submit{
    width: 209px;
    height: 45px;
    margin-right: 174px;
    margin-top: 7px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 3px;
    background: url(img/bg_upload.png) repeat-x;
    cursor: pointer;
    outline: none;
}
.main__item-box{
	width: 219px;
	height: 280px;
	margin-top: 56px;
    margin-left: 20px;
	display: inline-block;
	position: relative;
	border: 1px solid;
	border-color: #d6d6d6;
	background: url(img/item_bg.png) repeat-x;
	box-shadow: 0px 0 11px -8px black;
	padding: 10px 7px;
}
.main__upskale {
    position: absolute;
    width: 203px;
    height: 197px;
    top: 10px;
    left: 7px;
    opacity: 0;
    transition: .2s;
    z-index: 20px;
}
.main__upskale img {
    margin-top: 81px;
    margin-left: 90px;
    cursor: pointer;
}
.main__upskale:hover{
	opacity: 1;
}
.main__item-data{
	color: #d9d9d8;
    font-family: 'Bebas Neue', cursive;
    font-size: 19px;
    position: absolute;
    bottom: 70px;
    left: 16px;
}
.main__naming{
	height: 35px;
	border-bottom: 1px solid;
	border-color: #d6d6d6;
}
.main__naming a{
	font-size: 14px;
	color: #979393;
	letter-spacing: 0.03em;
}
.main__naming-name{
	float: left;
	margin-top: 6px;
    margin-left: 10px;
}
.main__naming-favor{
	float: right;
	margin-right: 4px;
	margin-top: 5px;
	cursor: pointer;
}
.social__name{
	float: left;
}
.social__name p{
	margin-left: 51px;
    margin-top: 8px;
    font-size: 14px;
    display: inline-block;
    color: #979393;
}
.social__icons ul{
	padding: 0;
    display: inline-flex;
    margin-left: 13px;
    margin-top: 4px
}
.fac__social,
.tum__social,
.pin__social{
	margin-right: 4px;
}
.next__item-box{
	margin-left: 32px;
}
.main__box-nextstoke{
	margin-top: 29px;
}
.tum__social{
	opacity: 0.35;
}
.fac__social{
	opacity: 0.5
}
.pin__social{
	opacity: 0.5
}
.social__icons img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.social__icons img:hover {
  opacity: 1;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}
.favor_img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  transition: 9999999s;
}
.favor_img:active{
  transition: background 0s;
  opacity: 1;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}








/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .8em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 5px;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 40%;
  transform: translate(-50%, .5em);
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
  left: 170%;
}
/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
footer{
  height: 88px;
}

.footer__iner{
	font-family: Arial;
  margin-top: 67px;
  margin-right: 30px;
  letter-spacing: 0.14px;
  font-size: 17px;
  float: right;
  color: #8b8a8a;
}
.footer__link{
  color: #8b8a8a;
}
.icon{
  float: right;
  font-size: 45px;
  display: none;
  margin-top: 25px;
  color: #000;
}





@media screen and (max-width: 2000px) {
  .warpper {
    width: 1400px;
}
.warpper__header{
  width: 100%;
  padding: 0 23%;  
}

}
@media screen and (max-width: 1440px) {
  .warpper {
    width: 1205px;
    padding: 0px 89px;
}
.warpper__header{
  width: 100%;
  padding: 0 12%;  
}

}

@media screen and (max-width: 1150px) {

  .logout{
    margin-right: 10px;
  }
  .warpper{
  max-width: 1030px;
  margin: 0 auto;
  }
  .field__file-wrapper{
  margin-left: 62px;
  }
  .upload__box{
    margin-left: 141px;
  }
  .field__file-button{
    left: 406px;
  }
  .field__file-submit{
    margin: 7px 0 0 125px;
  }
  .main__item-box{
    margin: 8px 0 0 49px;
  }
  .footer__iner{
    margin-right: 20px;
}


}
@media screen and (max-width: 1050px) {

  .logout{
  margin-right: -40px;
  }
  .warpper{
  max-width: 900px;
  padding: 0 0 0 41px;
}

@media screen and (max-width: 975px) {
  nav{
    display: none;
  }

  .warpper{
  max-width: 666px;
  margin: 0 auto;
  padding:0 30px;
}
  .logo img{
    width: 165px;
    margin-top: 49px;
    margin-left: 0;
  }
  .nav__icon a{
    float: right;
    font-size: 45px;
    margin-top: 30px;
    color: #000;
    display: block;
    position: absolute;
    right: 32px;

  }

  .topnav.responsive{
    position: relative;
    display: block;
    top: 0;
    left: -65px;
  }
  .logout{
    margin-right: -75px;
  }
  header .topnav.responsive{
    height: 215px;
  }
  .upload__box{
    margin-left: 49px;
  }
  .main__item-box{
    margin: 8px 0 0 73px;
  }
  .footer__iner {
    margin-right: 70px;
}
.upload__box h1 {
    font-size: 28px;
}
.box__nav {
    width: 88px;
}
.home img {
    margin-left: 35px;
}
.nav__link__home {
    margin-left: 23px;
}
.gallery img {
    margin-left: 32px;
}
.nav__link__gallery {
    margin-top: 9px;
    margin-left: 19px;
}
.members img {
    margin-left: 31px;
}
.nav__link__members {
    margin-left: 11px;
}
.logout img {
    margin-left: 37px;
}
.nav__link__logout {
    margin-left: 21px;
}



}



}

@media screen and (max-width: 665px) {
  header{
    min-height: 115px;
  }
  nav{
    display: none;
  }

  .warpper{
  max-width: 375px;
}
.field__file-wrapper {
    margin-left: 0;
}
.main__item-box {
    margin: 8px 0 0 57px;
}
  .logo img{
    width: 150px;
    margin-top: 50px;
  }
  .nav__icon a{
    float: right;
    font-size: 35px;
    margin-top: 35px;
    color: #000;
    display:inline-block;
  }
  .field__file-button{
    left: 5px;
  }
  .field__file{
    left: 5px;
  }
  .upload__box {
    margin-left: 18px;
}
.field__file-button {
    left: 191px;
}
.field__file-submit {
    margin-top: 10px;
    margin-left: 0;
    width: 292px;
}
.field__file-fake{
  width: 292px;
}
.upload__box h1 {
    font-size: 28px;
}
.topnav.responsive{
    position: absolute;
    top: 5px;
    right: 80px;
    z-index: 20;
    height: 200px;
    transition: .4s;
    display: flex;
    justify-content: flex-end;
}
.box__nav{
  background: #EEEF;
  height: 48px;
  width: 110px;
  border-right: none;
  border-bottom: 1px solid;
  border-color: gray;
}

.logout img{
    margin-top: 13px;
    margin-left: 12px;
    float: left;
}
.nav__link__logout{
      margin-top: 16px;
      margin-left: 38px;
}
.members img {
    margin-top: 16px;
    margin-left: 7px;
}
.nav__link__members {
    margin-left: 36px;
    margin-top: -18px;
}
.gallery img {
    margin-top: 18px;
    margin-left: 9px;
}
.nav__link__gallery {
    margin-top: -18px;
    margin-left: 38px;
}
.home{
  border-bottom: none;
}
.home img {
    margin-top: 14px;
    margin-left: 10px;
}
.nav__link__home {
    margin-top: -19px;
    margin-left: 38px;
}
.logout{
  margin-right: 0px;
  }



}